@charset "UTF-8";
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.85;
  background: #f2f3f4;
  color: #4f5d69;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  line-height: 1.8;
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.75em;
  letter-spacing: .05em;
}
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 18px;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 320px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-size: 1.125em;
  font-weight: 200;
  font-family: "source-han-sans-traditional", sans-serif;
}

p > span, h2 > span, h3 > span, h4 > span {
  display: block;
  margin: 0;
  padding: 0;
}
p > span > span, h2 > span > span, h3 > span > span, h4 > span > span {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  p > span > span, h2 > span > span, h3 > span > span, h4 > span > span {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  p > span > span, h2 > span > span, h3 > span > span, h4 > span > span {
    display: block;
  }
}

a {
  color: #ad8e32;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
  color: #6c540c;
}
a.links {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 10px rgba(255, 255, 255, 0.9);
  font-size: 1.125em;
  text-decoration: underline;
}
a.links:hover {
  color: #6c540c;
}

hr {
  border-top: 1px dashed #c5c5c5;
  height: 1px;
  margin: 30px auto;
  clear: both;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  hr {
    width: 96%;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.btn {
  margin: 14px auto;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.btn-primary {
  background: #d9bd69;
  border: 1px solid #d9bd69;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #ad8e32;
  border: 1px solid #ad8e32;
}
.btn-primary:active:hover, .btn-primary:active:focus {
  background: #ad8e32;
  border: 1px solid #ad8e32;
}
.btn-primary.disabled {
  color: beige;
  background: #d9bd69;
  border: 1px solid #d9bd69;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary.disabled[disabled], .btn-primary.disabled[disabled]:hover, .btn-primary.disabled[disabled]:focus, .btn-primary.disabled[disabled].focus, .btn-primary.disabled[disabled]:active, .btn-primary.disabled[disabled].active {
  background: #d9bd69;
  border: 1px solid #d9bd69;
}

.btn-lg, .btn-group-lg > .btn {
  border-radius: 2px;
  padding: 12px 36px;
  letter-spacing: .1em;
  font-size: 22px;
  box-shadow: 0 10px 40px rgba(197, 197, 197, 0.9) !important;
}
.btn-lg i, .btn-group-lg > .btn i {
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  .btn-lg, .btn-group-lg > .btn {
    letter-spacing: 0;
    font-size: 20px;
  }
}

.btn-info {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF,endColorstr=#B3FFFFFF);
  zoom: 1;
  border: 1px solid #ad8e32;
  color: #ad8e32;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5FFFFFF,endColorstr=#F5FFFFFF);
  zoom: 1;
  border: 1px solid #ad8e32;
  color: #ad8e32;
}
.btn-info:active:hover, .btn-info:active:focus {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5FFFFFF,endColorstr=#F5FFFFFF);
  zoom: 1;
  border: 1px solid #ad8e32;
}

.btn-md {
  border-radius: 0;
  padding: 12px 25px;
  font-size: 18px;
  margin: 0 5px;
}

.btn-sm {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 0 5px;
}
@media only screen and (max-width: 480px) {
  .btn-sm {
    font-size: 14px;
    padding: 4px 8px;
  }
}

.form-group {
  margin: 14px auto;
}
.form-group input[type="text"], .form-group input[type="tel"], .form-group input[type="email"], .form-group input[type="date"] {
  line-height: 50px;
  height: 50px;
  font-size: 1.25em;
  letter-spacing: .06em;
}

.form-inline {
  padding: 0;
  margin: 0;
}
.form-inline label {
  font-size: 1.25em;
  margin-right: 1%;
}
.form-inline select {
  line-height: 40px;
  height: 50px;
  padding: 10px;
  font-size: 1.25em;
  margin-left: 1%;
  color: #999;
}
.form-inline option:not(:checked) {
  color: #000;
}
.form-inline input.form-control {
  margin: 0;
}
.form-inline .form-control {
  width: 28%;
  display: inline-block !important;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .form-inline .form-control {
    width: 27%;
    display: inline-block !important;
  }
}
@media only screen and (max-width: 480px) {
  .form-inline .form-control {
    width: 26%;
    display: inline-block !important;
  }
  .form-inline select {
    font-size: 1.125em;
  }
}

.validation {
  color: #d34f42;
}

.navbar-default {
  padding-top: 22px;
  height: 94px;
}
.navbar-default .navbar-collapse {
  border: 0;
}
@media only screen and (min-width: 1200px) {
  .navbar-default .navbar-collapse {
    position: absolute;
    right: 0;
    z-index: 999;
  }
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

h2.logo-h, h2.logo-v {
  margin: 0;
}
h2.logo-h img, h2.logo-v img {
  margin: 0 auto;
}
#index h2.logo-h, #index h2.logo-v {
  display: none !important;
}
h2.logo-h {
  margin-left: 15px;
}
h2.logo-h img {
  width: 220px;
}
h2.logo-v {
  display: inline-block;
  text-align: center;
}
h2.logo-v img {
  width: 226px;
  clear: both;
  display: block;
  margin: 0 auto;
}

.navbar-header .navbar-toggle {
  font-family: 'times', serif;
  border: none;
  margin-right: 50px;
  margin-top: 4px;
}
.navbar-header .navbar-toggle:hover {
  background: none;
}

.navbar-default {
  background-color: transparent;
  background-color: #f2f3f4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2F3F4,endColorstr=#FFF2F3F4);
  zoom: 1;
  border-bottom: 0;
}
#index .navbar-default {
  background: #f2f3f4 url("../images/dot.png");
  background-color: transparent;
  background-color: #f2f3f4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2F3F4,endColorstr=#FFF2F3F4);
  zoom: 1;
}
@media only screen and (max-width: 768px) {
  .navbar-default {
    background-color: transparent;
    background-color: rgba(242, 243, 244, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6F2F3F4,endColorstr=#E6F2F3F4);
    zoom: 1;
  }
  #index .navbar-default {
    background-color: transparent;
    background-color: rgba(242, 243, 244, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6F2F3F4,endColorstr=#E6F2F3F4);
    zoom: 1;
  }
}
.navbar-default .navbar-nav {
  margin-bottom: 0;
}
@media only screen and (min-width: 769px) {
  .navbar-default .navbar-nav {
    margin-right: 10px;
  }
}
.navbar-default .navbar-nav > li {
  text-align: center;
}
.navbar-default .navbar-nav > li:nth-last-of-type(1) {
  background: url("../images/hexagonal.svg") no-repeat center center;
  background-size: contain;
  margin-top: 10px;
}
.navbar-default .navbar-nav > li:nth-last-of-type(1) a {
  padding: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  line-height: 35px;
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li:nth-last-of-type(1) {
    background: #ad8e32;
  }
}
.navbar-default .navbar-nav > li.visible-xs-block {
  border-bottom: 1px solid #c5c5c5;
}
.navbar-default .navbar-nav > li > a {
  line-height: 30px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ad8e32;
}
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li > a:hover {
    color: #ad8e32;
    background-color: #e7ce81;
  }
}

.nav-open .inner {
  height: 30px;
  padding-top: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
}
.nav-open .inner::before, .nav-open .inner::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 54px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.nav-open .inner::before {
  background-color: #f2f3f4;
}
.nav-open .inner::after {
  margin-top: 0px;
  position: absolute;
  background-color: #ad8e32;
}
.nav-open .inner span {
  opacity: 1;
  color: #ad8e32;
  font-size: 18px;
}
.nav-open.nav-close .inner {
  background-color: transparent;
  left: 54%;
}
.nav-open.nav-close .inner span {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  opacity: 0;
}
.nav-open.nav-close .inner::before, .nav-open.nav-close .inner::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 53px;
  background-color: #ad8e32;
}
.nav-open.nav-close .inner::before {
  top: 0;
}
.nav-open.nav-close .inner::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown-menu li {
  display: block;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.wrapper .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: url('../images/dot.png?1464842698');
}

.modal {
  overflow-y: auto;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
  zoom: 1;
}
.modal#video .modal-dialog {
  width: 100%;
  margin: 0;
}
.modal#video .modal-dialog .modal-body {
  padding: 0;
}
.modal#video .modal-dialog .modal-content {
  line-height: 0;
}
.modal .modal-dialog {
  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  .modal .modal-dialog {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .modal#video .modal-dialog {
    margin: 30% 0;
  }
}
.modal .modal-content {
  box-shadow: none;
  border: 0;
}
.modal .modal-content .modal-body {
  padding: 60px 20px 20px;
}

.close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #fff;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(173, 142, 50, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33AD8E32,endColorstr=#33AD8E32);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #ad8e32;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #ad8e32;
}
.video-stack .close {
  background: #ad8e32;
  color: #fff;
}
.crazyad .close {
  top: 0;
  right: 0;
  background: #ad8e32;
}
.crazyad .close::before, .crazyad .close::after {
  background: #fff;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.hairline::before, .close.hairline::after {
  height: 1px;
}

#Footer {
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 50px;
}
#index #Footer {
  margin-top: -30px;
  z-index: 999;
  position: relative;
}
#Footer a {
  color: #4f5d69;
  text-decoration: underline;
}

.note {
  font-size: 1.25em;
  text-shadow: 0 0 10px #f2f3f4, 0 0 10px #f2f3f4, 0 0 20px #f2f3f4;
}
.note a {
  text-decoration: underline;
}
p .note {
  font-size: 1em;
}
p .note b {
  color: #ad8e32;
}

.white-block {
  padding: 20px;
  background: #fff;
  border: 1px dashed #c5c5c5;
}
.white-block p {
  margin-bottom: 0;
}

.gold {
  color: #ad8e32;
}

h3.gold {
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  h3.gold {
    font-size: 20px;
    line-height: 1.25;
  }
}

h2 img {
  margin: 0 auto;
}
h2.inline-img {
  text-align: center;
  line-height: 1.2;
}
h2.inline-img img.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  h2.gold {
    font-size: 1.65em;
  }
}

span.gold {
  margin-top: 20px;
  display: block;
}

span ~ .btn {
  margin-top: 4px;
}

i.fa-facebook-official {
  margin-right: 6px;
}

.maintitle {
  margin-top: 70px;
  clear: both;
}

.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
}
.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  width: 354px;
}
.loader .loader-img {
  width: 354px;
  height: 170px;
  position: relative;
}
.loader .loader-img img {
  position: absolute;
}
.loader .loader-img img.rotate {
  bottom: 1px;
  right: 2px;
}
.loader p span {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #4f5d69;
  border-bottom: 2px solid #e7ce81;
}
.loader .rotate {
  position: absolute;
  -webkit-animation: star 5s infinite linear;
  animation: star 5s infinite linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  70% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
