h2, h3, h4 {
  color: #4f5d69;
}

.wrapper {
  margin-top: 100px;
}
.wrapper.step1 {
  background: url('../images/bg_accs1.jpg?1465095572') right bottom no-repeat;
}
.wrapper.step2 {
  background: url('../images/bg_accs2.jpg?1465098043') left bottom no-repeat;
}
.wrapper.step3 {
  background: url('../images/bg_accs3.jpg?1465102386') right bottom no-repeat;
}
.wrapper.login {
  background: url('../images/bg_accs4.jpg?1465183873') 15% bottom no-repeat;
}
.wrapper.profile {
  background: url('../images/bg_accs5.jpg?1465213361') 101% bottom no-repeat;
}
.wrapper.about {
  background: url('../images/bg_accs6.jpg?1465228646') left bottom no-repeat;
}
.wrapper.contact {
  background: url('../images/bg_accs7.jpg?1465295835') left bottom no-repeat;
  padding-bottom: 350px;
}
.wrapper.faq {
  background: url('../images/bg_accs8.jpg?1465309464') right bottom no-repeat;
  padding-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 160px;
  }
  .wrapper.step1 {
    background-position: 135% bottom;
    background-size: 60%;
  }
  .wrapper.step2 {
    background-position: -55% bottom;
    background-size: 60%;
  }
  .wrapper.step3 {
    background-position: 135% 100%;
    background-size: 60%;
  }
  .wrapper.login {
    background-position: left bottom;
    background-size: 40%;
  }
  .wrapper.profile {
    background-position: 101% 97%;
    background-size: 60%;
  }
  .wrapper.contact {
    background-size: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper.login {
    background-position: -5% bottom;
    background-size: 52%;
    padding-bottom: 280px;
  }
  .wrapper.profile {
    background-size: 60%;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper.login {
    padding-bottom: 200px;
  }
  .wrapper.about {
    padding-bottom: 220px;
    background-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container.pages {
    padding-bottom: 160px;
  }
  .container.pages.step1 {
    background-position: 135% bottom;
    background-size: 60%;
  }
  .container.pages.step2 {
    background-position: -55% bottom;
    background-size: 60%;
  }
  .container.pages.step3 {
    background-position: 135% 100%;
    background-size: 60%;
  }
  .container.pages.login {
    background-position: left bottom;
    background-size: 40%;
  }
  .container.pages.profile {
    background-position: 101% 97%;
    background-size: 60%;
  }
  .container.pages.contact {
    background-size: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .container.pages.login {
    background-position: -5% bottom;
    background-size: 52%;
    padding-bottom: 280px;
  }
  .container.pages.profile {
    background-size: 60%;
  }
}
@media only screen and (max-width: 320px) {
  .container.pages.login {
    padding-bottom: 200px;
  }
  .container.pages.about {
    padding-bottom: 220px;
    background-size: 90%;
  }
}

.header-container .title-group {
  width: 100%;
}
.header-container h1 {
  z-index: 999;
  width: 100%;
  text-align: center;
}
.header-container h1 img {
  margin: 0 auto;
  padding: 0 10px;
}
.header-container .process {
  width: 50%;
  margin: 20px auto;
}
.header-container .process ul {
  text-align: center;
}
.header-container .process ul li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 30%;
  position: relative;
  height: 80px;
  margin-left: -4px;
}
.header-container .process ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 29px;
  z-index: 1;
  border-top: 1px solid #ad8e32;
}
.header-container .process ul li:nth-child(1) {
  text-align: left;
}
.header-container .process ul li:nth-child(3) {
  text-align: right;
}
.header-container .process ul li span:nth-child(1) {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 58px;
  text-align: left;
  background: url('../images/hexagonal.png?1464596708') no-repeat center center;
  background-size: contain;
  text-align: center;
  line-height: 58px;
  font-family: 'times', serif;
  font-size: 1.25em;
  color: #fff;
}
.header-container .process ul li span:nth-child(2) {
  display: block;
  color: #ad8e32;
}
.header-container .process ul li.gray::after {
  border-top: 1px solid #4f5d69;
}
.header-container .process ul li.gray span:nth-child(1) {
  background: url('../images/hexagonal_gray.png?1464866908') no-repeat center center;
  background-size: contain;
}
.header-container .process ul li.gray span:nth-child(2) {
  color: #4f5d69;
}
@media only screen and (max-width: 480px) {
  .header-container .process {
    width: 90%;
  }
}

.title-img {
  position: relative;
  width: 75%;
  margin: 30px auto;
}
.title-img.white-block {
  width: 100%;
}
.title-img h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
  line-height: 60px;
  position: relative;
}
.title-img h3 span {
  display: inline-block;
  z-index: 3;
  position: relative;
  text-shadow: 0 0 10px #f2f3f4, 0 0 10px #f2f3f4, 0 0 20px #f2f3f4;
  padding: 0 10px;
}
.title-img h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 1;
  border-top: 1px dashed #c5c5c5;
}
.title-img .woman {
  position: absolute;
  z-index: 4;
  top: -50%;
}
.title-img .woman img {
  height: 170px;
}
.title-img .woman.right {
  right: 2px;
  top: -66px;
}
.title-img .woman.left {
  left: 0;
}
.title-img .woman.left-out {
  bottom: 0;
  left: -50px;
  top: auto;
}
.title-img .woman.left-out img {
  height: 150px;
}
.title-img .woman.right-out {
  top: auto;
  bottom: 0;
  right: -50px;
}
@media only screen and (max-width: 768px) {
  .title-img {
    width: 100%;
  }
  .title-img .woman.left {
    left: 0;
  }
  .title-img .woman.left-out {
    left: -30px;
  }
}
@media only screen and (max-width: 480px) {
  .title-img.white-block {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .title-img .woman.left-out {
    top: 8px;
  }
}

.calendar-wrapper {
  text-align: center;
  margin-bottom: 60px;
}
.calendar-wrapper .calendar .table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  width: 70%;
  margin: 20px auto;
  font-size: 1.25em;
}
.calendar-wrapper .calendar .table > div {
  display: table-row;
}
.calendar-wrapper .calendar .table > div:nth-child(1) div {
  background-color: transparent;
  background-color: rgba(197, 197, 197, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DC5C5C5,endColorstr=#4DC5C5C5);
  zoom: 1;
}
.calendar-wrapper .calendar .table > div > div {
  display: table-cell;
  width: 14%;
  line-height: 4;
  background: #fff;
}
.calendar-wrapper .calendar .table > div > div.usable:hover, .calendar-wrapper .calendar .table > div > div.usable:active, .calendar-wrapper .calendar .table > div > div.usable:focus, .calendar-wrapper .calendar .table > div > div.usable.selected {
  background: #d9bd69;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .calendar-wrapper .calendar .table {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .calendar-wrapper .calendar .table {
    font-size: 1.125em;
    width: 90%;
  }
  .calendar-wrapper .calendar .table > div > div {
    line-height: 3;
  }
}
@media only screen and (max-width: 480px) {
  .calendar-wrapper .calendar .table {
    border-spacing: 6px;
    width: 98%;
  }
  .calendar-wrapper .calendar .table > div > div {
    line-height: 2;
  }
}

/* radio animations */
@keyframes radio-select {
  0% {
    transform: scale(0, 0);
  }
  65% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.radio-wrapper {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
}
.radio-wrapper.spread {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
}
.radio-wrapper.spread label {
  height: auto !important;
}
.radio-wrapper.spread .time {
  width: 90%;
  line-height: 34px;
  height: auto;
}
.radio-wrapper.accs {
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .radio-wrapper {
    font-size: 1.25em !important;
    width: 98%;
  }
  .radio-wrapper.spread label .time {
    width: 80%;
    margin-top: -4px;
    line-height: 28px;
  }
  .radio-wrapper.spread label .outside, .radio-wrapper.spread label .time {
    display: inline-block;
    vertical-align: top;
  }
}
.radio-wrapper label {
  margin: 10px 0;
  line-height: 65px;
  border-bottom: 1px solid #c5c5c5;
  text-shadow: 0 0 10px #f2f3f4, 0 0 10px #f2f3f4, 0 0 20px #f2f3f4;
  display: block;
  cursor: pointer;
  font-weight: 400;
  color: #4f5d69;
}
.radio-wrapper label:nth-last-of-type(1) {
  margin-bottom: 40px;
}
.radio-wrapper label .outside, .radio-wrapper label .time {
  display: inline-flex;
}
.radio-wrapper label .outside {
  background: #f2f3f4;
  width: 34px;
  height: 34px;
  border: 4px solid #4f5d69;
  border-radius: 50%;
  box-sizing: border-box;
}
.radio-wrapper label .inside {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #4f5d69;
  margin: 3px 0 0 3px;
  transform: scale(0, 0);
}
.no-transforms .radio-wrapper label .inside {
  left: auto;
  top: auto;
  width: 0;
  height: 0;
}
.radio-wrapper label .time {
  height: 34px;
  padding-bottom: 10px;
}
.radio-wrapper label.disabled {
  color: #c5c5c5;
  text-shadow: none;
}
.radio-wrapper label.disabled .outside {
  border-color: #c5c5c5;
}
.radio-wrapper label input {
  height: 1px;
  width: 1px;
  opacity: 0;
}
.radio-wrapper label input:checked + .outside .inside {
  animation: radio-select 0.1s linear;
  transform: scale(1, 1);
}
.no-transforms .radio-wrapper label input:checked + .outside .inside {
  width: 24px;
  height: 24px;
}

.step3 .white-block {
  padding-left: 50px;
}
@media only screen and (max-width: 768px) {
  .step3 .white-block {
    padding-left: 70px;
  }
}

.body-info li, .order-list li {
  font-size: 1.25em;
  line-height: 80px;
  border-bottom: 1px solid #c5c5c5;
}
.body-info li:before, .order-list li:before {
  font-family: FontAwesome;
  content: "\f058";
  padding-right: 4px;
}

.order-list li {
  padding: 0 10px;
  font-size: 28px;
}
.order-list li span:nth-of-type(1) {
  margin-right: 20px;
}
.order-list li span:nth-of-type(2) {
  float: right;
}
.order-list li:before {
  content: "\f044";
}
.order-list li.pass-order {
  color: #c5c5c5;
}
@media only screen and (max-width: 768px) {
  .order-list li {
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .order-list li {
    padding: 0;
    font-size: 16px;
  }
  .order-list li span:nth-of-type(1) {
    margin-right: 0;
  }
}

.about img {
  margin: 20px auto;
}

.faq-list h3 {
  color: #ad8e32;
}
.faq-list h3:before {
  font-family: FontAwesome;
  content: "\f059";
  padding-right: 4px;
}
.faq-list .qus-item, .faq-list .ans-item {
  padding: 10px 0;
}
.faq-list .qus-item {
  font-size: 20px;
  border-bottom: 1px dashed #c5c5c5;
  color: #2b343c;
}
.faq-list .ans-item {
  color: #4f5d69;
  font-size: 1.125em;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  color: #4f5d69;
}

.panel {
  background: transparent;
  border: none;
}

.panel-default > .panel-heading {
  background: none;
  border-bottom: 1px dashed #c5c5c5;
}
.panel-default > .panel-heading h4.panel-title {
  font-size: 1.5em;
}

#contact .col-sm-4 {
  padding: 14px 7px;
}
