@import 'compass';
//@import 'screen';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.85;
	background: $light-gray;
	color: $dark-gray;
}
//h-style
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0;
	line-height: 1.8;
}
*:hover {
	@include transition(color, .5s, ease-in);
}
//p
h2 {
	@include respond-to (normal-mobile){
		font-size: $xxxl-font;
	}
}
h4 {
	font-size: $xxxl-font;
	letter-spacing: .05em;
	@include respond-to (only-device){
		font-size: 18px;
		line-height: 1.7;
	}
	@include respond-to (xxs-mobile){
		font-size: 16px;
	}
}
p {
	font-size: $l-font;
	font-weight: 200;
	font-family: "source-han-sans-traditional", sans-serif;
}
p, h2, h3, h4 {
	> span {
		display: block;
		margin: 0;
		padding: 0;
	}
	>span > span {
		margin: 0;
		padding: 0;
	}
	@include respond-to (normal-mobile){
		> span > span {
			display: block;
			
		}
	}
	@include respond-to (xxs-mobile){
		> span > span {
			display: block;
			
		}
	}
}
a {
	color: $gold;
	@include transition(color, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
		color: $dark-gold;
	}
	&.links {
		text-shadow: 0 0 10px rgba($white,.9), 0 0 10px rgba($white,.9);
		font-size: $l-font;
		text-decoration: underline;
		&:hover {
			color: $dark-gold;
		}
	}
}
hr {
	border-top: 1px dashed $gray;
	height: 1px;
	margin: 30px auto;
	clear: both;
	width: 50%;
	@include respond-to (only-device){
		width: 96%;
	}
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
.btn {
	margin: 14px auto;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.btn-primary {
	background: $light-gold;
	border: 1px solid $light-gold;
	&:hover, &:active , &:focus {
		background: $gold;
		border: 1px solid $gold;
	}
	&:active {
		&:hover, &:focus  {
			background: $gold;
			border: 1px solid $gold;
		}
	}
	&.disabled {
		color: beige;
		background: $light-gold;
		border: 1px solid $light-gold;
		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
//			color: beige;
			background: $light-gold;
			border: 1px solid $light-gold;	
		}
	}
}
.btn-lg, .btn-group-lg > .btn {
	border-radius: 2px;
	padding: 12px 36px;
	letter-spacing: .1em;
	font-size: 22px;
	box-shadow: 0 10px 40px rgba($gray, .9)!important; 
	i {
		margin-left: 10px;
	}
	@include respond-to (only-device){
		letter-spacing: 0;
		font-size: 20px;
	}
}
.btn-info {
	@include transparent ($white, .7);
	border: 1px solid $gold;
	color: $gold;
	&:hover, &:active , &:focus {
		@include transparent ($white, .96);
		border: 1px solid $gold;
		color: $gold;
	}
	&:active {
		&:hover, &:focus  {
			@include transparent ($white, .96);
			border: 1px solid $gold;
		}
	}
}
.btn-md {
	border-radius: 0;
	padding: 12px 25px;
	font-size: 18px;
	margin: 0 5px;
}
.btn-sm {
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 16px;
	margin: 0 5px;
	@include respond-to (normal-mobile){
		font-size: 14px;
		padding: 4px 8px;
	}
}
//input
.form-group {
	margin: 14px auto;
	input[type="text"],input[type="tel"],input[type="email"], input[type="date"] {
		line-height: 50px;
		height: 50px;
		font-size: $xl-font;
		letter-spacing: .06em;
		margin: 14px auto;
	}
}
.form-inline {
	padding: 0;
	margin: 0;
	label {
		font-size: $xl-font;
		margin-right: 1%;
	}
	select {
		line-height: 40px;
		height: 50px;
		padding: 10px;
		font-size: $xl-font;
		margin-left: 1%;
		color: #999;
	}
	option:not(:checked) {
		color:#000;
	}
	input.form-control {
		margin: 0;
	}
	.form-control {
		width: 28%;
		display: inline-block!important
	}
	@include respond-to (md-screen){
		.form-control {
			width: 27%;
			display: inline-block!important
		}
	}
	@include respond-to (normal-mobile){
		.form-control {
			width: 26%;
			display: inline-block!important
		}
		select {
			font-size: $l-font;
		}
	}
}

//element
.navbar-default {
	padding-top: 22px;
	.navbar-collapse {
		border: 0;
		@include respond-to (xlg-screen){
			position: absolute;
			right: 0;
			z-index: 999;
		}
	}
}
.logo-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
h2 {
	&.logo-h, &.logo-v {
		margin: 0;
		img {
			margin: 0 auto;
		}
		#index & {
			display: none!important;
		}
	}
	&.logo-h {
		margin-left: 15px;
		img {
			width: 220px;
		}
	}
	&.logo-v {
		display: inline-block;
		text-align: center;
		
//		margin-top: -60px;
		img {
			width: 226px;
			clear: both;
			display: block;
			margin: 0 auto;
		}
		
	}
}
.navbar-header {
	.navbar-toggle {
		font-family: 'times', serif;
		border: none;
		margin-right: 50px;
		margin-top: 4px;
		&:hover {
			background: none;
		}
	}
}
.navbar-default {
	#index & {
		background: $light-gray url('../images/dot.png');
		@include transparent ($light-gray,1);
	}
	@include transparent ($light-gray,1);
	border-bottom: 0;
	@include respond-to (only-device){
		@include transparent ($light-gray,.9);
		#index & {
			@include transparent ($light-gray,.9);
		}
	}
	.navbar-nav {
		margin-bottom: 0;
		@include respond-to (only-desktop){
			margin-right: 10px;
		}
		> li {
			text-align: center;
			&:nth-last-of-type(1){
				background: url('../images/hexagonal.svg') no-repeat center center;
				background-size: contain;
				margin-top: 10px;
				a {
					padding: 0;
					width: 35px;
					height: 35px;
					color: $white;
					line-height: 35px;
				}
				@media only screen and (max-width: 767px) {
					background: $gold;
				}
			}
			&.visible-xs-block {
				border-bottom: 1px solid $gray;
			}
			> a {
				line-height: 30px;
				&:hover {
					color: $gold;
				}
			}
		}
		@include respond-to (only-device){
			> li {
				> a {
					&:hover {
						color: $gold;
						background-color: $yellow;
					}
				}
			}
		}
	}
}

.nav-open {
	.inner {
		height: 30px;
		padding-top: 4px;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-20%, -20%);
		transform: translate(-20%, -20%);
		&::before, &::after {
			position: absolute;
			content: "";
			display: block;
			height: 1px;
			width: 54px;
			-webkit-transition: all .5s ease;
			transition: all .5s ease;
		}
		&::before {
			background-color: $light-gray;
		}
		&::after {
			margin-top: 0px;
			position: absolute;
			background-color: $gold;
		}
		span {
			opacity: 1;
			color: $gold;
			font-size: 18px;
		}
	}
	&.nav-close {
		.inner {
			background-color: transparent;
			left: 54%;
			span {
				-webkit-transition: opacity .3s ease-in-out;
				-moz-transition: opacity .3s ease-in-out;
				-ms-transition: opacity .3s ease-in-out;
				-o-transition: opacity .3s ease-in-out;
				opacity: 0;
			}
			&::before, &::after {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 0 50%;
				transform-origin: 0 50%;
				width: 53px;
				background-color: $gold;
			}
			&::before {
				top: 0;
			}
			&::after {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}

.dropdown-menu li {
	display: block;
}
.wrapper {
	min-height: 100%;
//    min-height: 760px;
	overflow: hidden;
	.mask {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9;
		background: image-url('dot.png');
	}
}
.modal {
	overflow-y: auto;
	@include transparent($white,.9);
	&#video .modal-dialog {
		width: 100%;
		margin: 0;
		.modal-body {
			padding: 0;
		}
		.modal-content {
			line-height: 0;
			
		}
	}
	.modal-dialog {
		margin: 0 auto;
	}
	@include respond-to (only-desktop){
		.modal-dialog {
			width: 80%;
		}
	}
	@include respond-to (only-device){
		&#video .modal-dialog {
			margin: 30% 0;
		}
	}
	.modal-content {
		box-shadow: none;
		border: 0;
		
		.modal-body {
			padding: 60px 20px 20px;
		}
	}
}
.close {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
	z-index: 9999;
	cursor: pointer;
	top: 12px;
	right: 12px;
	background: $white;
	&:hover {
		@include transparent($gold,.2);
		&::before, &::after {
			background: $gold;
		}
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $gold;
	}
	.video-stack & {
		background: $gold;
		color: $white;
	}
	.crazyad & {
		top: 0;
		right: 0;
		background: $gold;
		&::before,
		&::after {
			background: $white;
		}
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
	&.hairline {
		&::before, &::after {
			height: 1px;
		}
	}
}
#Footer {
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: 50px;
	#index & {
		margin-top: -30px;
		z-index: 999;
		position: relative;
	}
	a {
		color: $dark-gray;
		text-decoration: underline;
	}
}
//style
.note {
	font-size: $xl-font;
	text-shadow: 0 0 10px $light-gray, 0 0 10px $light-gray, 0 0 20px $light-gray;
	a {
		text-decoration: underline; 	
	}
	p & {
		font-size: $m-font;
		b {
			color: $gold;
		}
	}
}
.white-block {
	padding: 20px;
	background: $white;
	border: 1px dashed $gray;
	p {
		margin-bottom: 0;
	}
}
.gold {
	color: $gold;
}
h3 {
	&.gold {
		font-size: 30px;
		@include respond-to (only-device){
			font-size: 20px;
			line-height: 1.25;
		}
	}
}
h2 {
	img {
		margin: 0 auto;
	}
	&.inline-img {
		text-align: center;
		line-height: 1.2;
		img.inline {
			display: inline-block;
			margin: 0;
			padding: 0;
			max-width: 100%;
		}
	}
	&.gold {
		@include respond-to (normal-mobile){
			font-size: 1.65em;
		}
	}
}
span {
	&.gold {
		margin-top: 20px;
		display: block;
	}
}
span ~ .btn {
	margin-top: 4px;
}
i.fa-facebook-official {
	margin-right: 6px;
}
.maintitle {
	margin-top: 70px;
	clear: both;
}
.iframe-rwd  {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 10px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}