@import 'compass';
//@import 'screen';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';
h2, h3, h4 {
	color: $dark-gray;
}
.wrapper {
	margin-top: 100px;
}
.container {
	&.pages {
		padding-bottom: 200px;
		&.step1 {
			background: image-url('bg_accs1.jpg') right bottom no-repeat;
		}
		&.step2 {
			background: image-url('bg_accs2.jpg') left bottom no-repeat;
		}
		&.step3 {
			background: image-url('bg_accs3.jpg') right bottom no-repeat;
		}
		&.login {
			background: image-url('bg_accs4.jpg') 15% bottom no-repeat;
			padding-bottom: 300px;
		}
		&.profile {
			background: image-url('bg_accs5.jpg') 101% bottom no-repeat;
			padding-bottom: 300px;
		}
		&.about {
			background: image-url('bg_accs6.jpg') left bottom no-repeat;
			padding-bottom: 300px;
		}
		&.contact {
			background: image-url('bg_accs7.jpg') left bottom no-repeat;
		}
		&.faq {
			background: image-url('bg_accs8.jpg') right bottom no-repeat;
			padding-bottom: 100px;
		}
		@include respond-to (only-device){
			padding-bottom: 160px;
			&.step1 {
				background-position: 135% bottom;
				background-size: 60%;
			}
			&.step2 {
				background-position: -55% bottom;
				background-size: 60%;
			}
			&.step3 {
				background-position: 135% 100%;
				background-size: 60%;
			}
			&.login {
				background-position: left bottom;
				background-size: 40%;
				
			}
			&.profile {
				background-position: 101% 97%;
				background-size: 60%;
			}
			&.contact {
				background-size: 80%;
			}
		}
		@include respond-to (normal-mobile){
			&.login {
				background-position: -5% bottom;
				background-size: 52%;
				padding-bottom: 280px;
			}
			&.profile {
//				padding-bottom: 320px;
				background-size: 60%;
			}
		}
		@include respond-to (xxs-mobile){
			&.login {
				padding-bottom: 200px;
			}
			&.about {
				padding-bottom: 220px;
				background-size: 90%;
			}
		}
	}
	
}
.header-container {
	.title-group {
//		position: absolute;
		width: 100%;
	}
	h1 {
		z-index: 999;
		width: 100%;
		text-align: center;
		img {
			margin: 0 auto;
			padding: 0 10px;
		}
	}
	.process {
		width: 50%;
		margin: 20px auto;
		ul {
			text-align: center;
			li {
				@include inline-block;
				vertical-align: top;
				width: 30%;
				position: relative;
				height: 80px;
				margin-left: -4px;
				&::after {
					content: ('');
					display: block;
					position: absolute;
					width: 100%;
					top: 29px;
					z-index: 1;
					border-top: 1px solid $gold;
				}
				&:nth-child(1) {
					text-align: left;
				}
				&:nth-child(2) {
				}
				&:nth-child(3) {
					text-align: right;
				}
				span:nth-child(1) {
					@include inline-block;
					position: relative;
					z-index: 3;
					width: 50px;
					height: 58px;
					text-align: left;
					background: image-url('hexagonal.png') no-repeat center center;
					background-size: contain;
					text-align: center;
					line-height: 58px;
					font-family: 'times', serif;
					font-size: $xl-font;
					color: $white;
				}
				span:nth-child(2) {
					display: block;
					color: $gold;
				}
				&.gray {
					&::after {
						border-top: 1px solid $dark-gray;
					}
					span:nth-child(1) {
						background: image-url('hexagonal_gray.png') no-repeat center center;
						background-size: contain;
					}
					span:nth-child(2) {
						color: $dark-gray;
					}
				}
			}
		}
		@include respond-to (normal-mobile){ 
			width: 90%;
		}
	}
}
.title-img {
	position: relative;
	width: 75%;
	margin: 30px auto;
	&.white-block {
		width: 100%;
	}
	h3 {
		text-align: center;
		font-weight: lighter;
		font-size: $xxxxl-font;
		line-height: 60px;
		position: relative;
		span {
			display: inline-block;
			z-index: 3;
			position: relative;
			text-shadow: 0 0 10px $light-gray, 0 0 10px $light-gray, 0 0 20px $light-gray;
//			background: $light-gray;
			padding: 0 10px;
		}
		&::after {
			content: ('');
			display: block;
			position: absolute;
			width: 100%;
			top: 30px;
			z-index: 1;
			border-top: 1px dashed $gray;
		}
	}
	.woman {
		position: absolute;
		z-index: 4;
		top: -50%;
		img {
			height: 170px;
		}
		&.right {
			right: 2px;
			top: -66px;
		}
		&.left {
			left: 0;
		}
		&.left-out {
			bottom: 0;
			left: -50px;
			top: auto;
			img {
				height: 150px;
			}
		}
		&.right-out {
			top: auto;
			bottom: 0;
			right: -50px;
		}
//		.modal & {
//			display: none;
//		}
	}
	@include respond-to (only-device){
		width: 100%;
//		&.white-block {
//			width: 80%;
//		}
		.woman {
			&.left {
				left: 0;
			}
			&.left-out {
				left: -30px;
			}
		}
	}
	@include respond-to (normal-mobile){
		&.white-block {
			width: 100%;
		}
	}
	@include respond-to (xxs-mobile){
		.woman {
			&.left-out {
				top: 8px;
			}
		}
	}
}
//step1
.calendar-wrapper {
	text-align: center;
	margin-bottom: 60px;
	h4 {}
	.calendar {
		.table {
			display:table;
			border-collapse: separate;
			border-spacing: 10px;
			width: 70%;
			margin: 20px auto;
			font-size: $xl-font;
			> div {
				display: table-row;
				&:nth-child(1) {
					div {
						@include transparent($gray,.3);
					}
				}
				> div {
					display: table-cell;
					width: 14%;
					line-height: 4;
					background: $white;
					&.usable {
						&:hover, &:active, &:focus, &.selected  {
							background: $light-gold;
							color: $white;
							cursor: pointer;
						}
					}
				}
			}
			@include respond-to (tablet-landscape){
				width: 80%;
			}
			@include respond-to (only-device){
				font-size: $l-font;
				width: 90%;
				> div {
					> div {
						line-height: 3;
					}
				}
			}
			@include respond-to (normal-mobile){
				border-spacing: 6px;
				width: 98%;
				> div {
					> div {
						line-height: 2;
					}
				}
			}
		}
	}
}

/* radio animations */
@keyframes radio-select {
  0% {
    transform: scale(0,0);
  }
  65% {
    transform: scale(1.1,1.1);
  }
  100% {
    transform: scale(1,1);
  }
}
@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.radio-wrapper {
	font-size: $xxxxl-font;
//	width: 60%;
	margin: 0 auto;
	text-align: center;
	&.spread {
		width: 100%;
		text-align: left;
		font-size: $xxl-font;
		label {
			height: auto!important;
		}
		.time {
			width: 90%;
			line-height: 34px;
			height: auto;
		}
	}
	&.accs {
		text-align: left;
	}
	@include respond-to (normal-mobile){
		font-size: $xl-font!important;
		width: 98%;
		&.spread {
			label {
				.time {
					width: 80%;
					margin-top: -4px;
					line-height: 28px;
				}
				.outside, .time {
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}
	label {
		margin: 10px 0;
		line-height: 65px;
		border-bottom: 1px solid $gray;
		text-shadow: 0 0 10px $light-gray, 0 0 10px $light-gray, 0 0 20px $light-gray;
		display: block;
		cursor: pointer;
		font-weight: 400;
		color: $dark-gray;
		> div {
//			display: inline-block;
		}
		&:nth-last-of-type(1) {
			margin-bottom: 40px;
		}
		.outside, .time {
			display: inline-flex;
		}
		.outside {	
			background: $light-gray;
			width: 34px;
			height: 34px;
			border: 4px solid $dark-gray;
			border-radius: 50%;
			box-sizing: border-box;
		}
		.inside {
			display: block;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			background: $dark-gray;
			margin: 3px 0 0 3px;
			transform: scale(0, 0);
			.no-transforms & {
				left: auto;
				top: auto;
				width: 0;
				height: 0;
			}
		}
		.time {
			height: 34px;
			padding-bottom: 10px;
		}
		&.disabled {
			color: $gray;
			text-shadow: none;
			.outside {
				border-color: $gray;
			}
		}
		input {
			height: 1px;
			width: 1px;
			opacity: 0;
			&:checked {
				+ .outside .inside {
					animation: radio-select 0.1s linear;
					transform: scale(1, 1);
					.no-transforms & {
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
}
.radio-wrapper {
	
}
//step3
.white-block {
	.step3 & {
		padding-left: 50px;
		@include respond-to (only-device){
			padding-left: 70px;
		}
	}
}
//profile
.body-info, .order-list {
	li {
		font-size: $xl-font;
		line-height: 80px;
		border-bottom: 1px solid $gray;
		&:before {
			font-family: FontAwesome;
			content: "\f058";
			padding-right: 4px;
		}
	}
}
.order-list {
	li {
		padding: 0 10px;
		font-size: 28px;
		span {
			&:nth-of-type(1) {
				margin-right: 20px;
			}
			&:nth-of-type(2) {
				float: right;
			}
		}
		&:before {
			content: "\f044";
		}
		&.pass-order {
			color: $gray;
		}
	}
	@include respond-to (only-device){
		li {
			font-size: 22px;
		}
	}
	@include respond-to (normal-mobile){
		li {
			padding: 0;
			font-size: 16px;
			span {
				&:nth-of-type(1) {
					margin-right: 0;
				}
			}
		}
	}
}
//about
.about {
	img {
		margin: 20px auto;
	}
}
//faq
.faq-list {
	h3 {
		color: $gold;
		&:before {
			font-family: FontAwesome;
			content: "\f059";
			padding-right: 4px;
		}
	}
	.qus-item, .ans-item {
		
		padding: 10px 0;
	}
	.qus-item {
		font-size: 20px;
		border-bottom: 1px dashed $gray;
		color: $more-dark-gray;
	}
	.ans-item {
		color: $dark-gray;
		font-size: $l-font;
		margin-bottom: 40px;
		border-bottom: 1px solid #ccc;
		color: $dark-gray;
	}
}
.panel {
	background: transparent;
	border: none;
}
.panel-default  {
	> .panel-heading {
		background: none;
		border-bottom: 1px dashed $gray;
		h4.panel-title {
			font-size: $xxl-font;
		}
	}
}
